.card {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "pan pan"
    "expiry cvv";
  box-sizing: border-box;
  padding: 20px;
  width: 280px;
  height: 180px;
  background: white
    url("https://lithic-web.s3.us-west-1.amazonaws.com/lithic-logo/lithic-logo.svg")
    top 28px left 28px no-repeat;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
  font: 14px/1.2 system-ui, sans-serif;
  cursor: default;
}

.pan,
.expiry,
.cvv {
  grid-area: pan;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: background 250ms;
}

.expiry {
  letter-spacing: 0;
  grid-area: expiry;
}

.cvv {
  letter-spacing: 0;
  grid-area: cvv;
}

.expiry:before,
.cvv:before {
  content: "Valid";
  margin-right: 0.5em;
  opacity: 0.5;
  font-weight: normal;
}

.cvv:before {
  content: "CVV";
}

div[onclick^="copyToClip"]:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
